---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="blog-section">
  <h2>Recent Articles</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>
            {post.data.heroImage && (
              <Image
                width={720}
                height={360}
                src={post.data.heroImage}
                alt=""
              />
            )}
            <p class="title">{post.data.title}</p>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .blog-section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .blog-section h2 {
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(33% - 2rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 2/1;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
    font-size: 0.85em;
    color: rgb(var(--black));
    line-height: 1.4em;
  }
  .date {
    margin: 0;
    font-size: 0.8em;
    color: rgb(var(--gray));
  }
  ul li a:hover .title {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 768px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
  }
</style>
